textarea#comment {
    border: 1px solid $bodytextcolor;
}

input#author, input#email, input#url {
    border-radius: 15px;
    height: 3rem;
    border: 1px solid $bodytextcolor;
}
p.form-submit input[type=submit] {
    border-radius: 15px;
    border: 1px solid $bodytextcolor;
    padding: 1rem;
    color: $bodytextcolor;
    &:hover {
        background-color: $bodytextcolor;
        color: white;
    }
}