/***************************
****************************
FOOTER
****************************
***************************/

footer {
	background-color: $navyblue;
	margin-right: 0;
	h3 {
		font-size: 14px;
		text-transform: uppercase;
		font-weight: bold;
		color: $white;
	}
	h4 {
		font-size: 12px;
		text-transform: uppercase;
		font-weight: bold;
	}
	a {
		color: $skyblue;
		&:hover {
			color: $white;
		}
	}
}

div.container.footer {
	padding: 4em 0 4em 0;
}

// FOOTER PADDING WHEN MOBILE 

@media (max-width:992px) {

	div.col-md-4.footer .widget{
		margin-bottom: 25px;
	}
		
}

/***************************
****************************
SEARCH
****************************
***************************/

.search-form {
  margin-bottom: 20px;
}

.search-submit { 
  background-color: $darkgrey;
  color: $white;
  border-radius: 0;
  box-shadow: none;
  border: none;
  border-radius: 0px;
  padding: 0.5em 1.1em 0.5em 1.1em;
  line-height: normal;
  font-size: 14px;
  font-family: sans-serif;
  margin-left: -4px;
}

span.screen-reader-text {
  position: absolute;
  left: -9999px;
}

.search-field {
  width: 173px;
  border: none;
  border-radius: 0px;
  padding: 0.5em;
  box-shadow: none;
  line-height: normal;
  font-size: 14px;
  font-family: sans-serif;
}

/***************************
****************************
NEWSLETTER
****************************
***************************/

td.left, td.right {
	padding: 0px;
}

.newsletter, .newsletter td {
    text-align: left;
    font-family: sans-serif;
    font-size: 24px;
    line-height: normal;
}

.newsletter {
	p {
	    margin: 0 0 10px 0;
	    padding: 0;
	}
	input, select {
		color: $darkgrey;
		border: none;
	    border-radius: 0px;
	    padding: 0.5em;
	    box-shadow: none;
	    line-height: normal;
	    font-size: 14px;
	    font-family: sans-serif;
	}
	.newsletter-submit {
		background-color: $darkgrey;
		color: $white;
	}
}


/***************************
****************************
FOOTER WIDGETS
****************************
***************************/

div.row.footer {
	padding: 0 15px;
}
div.col-md-4.footer  .widget p{
	font-size: 11px;
	color: white;
}
div.col-md-4.footer  .widget{
	padding-left: 20px;
}
@media (max-width: 992px) {
	div.col-md-4.footer  {
		padding-top: 2.5em;
	}
	div.container.footer {
	padding-top: 1em;
	}
}

div.col-md-4.centerfooter  {
	margin-bottom: 20px;
}

button#dropdownMenu1 {
	width: 150px;
	height: 20px;
}
.relatedlinks .btn{
	border-radius: 0px;
}
.links {
	margin: -5px 0px 0px -48px;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
}



.dropup .caret{
	float: right;
	margin: -11px -8px 0 0;
	color: #337AB7;
}

.socialmedia ul {
	list-style-type: none;
	padding: 0;
}

.socialmedia li {
	display: inline-block;
	padding: 1em 1em 1em 0;
	@media (max-width:992px) {
		padding: 0 1em 1em 0;
	}
}
.fa:hover {
    color: #68BCFF;
}
/* Hide anchor links for FA icons but show for screen readers */
a span.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}



.whiteiconcolor {
	color: white;
}
/***************************
****************************
FOOTER COPYRIGHT
****************************
***************************/

div.col-md-12.footer {
	padding-left: 35px;
}

.footer-copyright {
	width: 100%;
	padding: 2em 0;
	color: white;
	background-color: $darkergrey;
}
.footer-copyright h3{
	font-size: 12px;
	text-transform: none;
	margin: 0px;
	color: #FFF;
	letter-spacing: 3px;
}
.cop-symbol {

}