
//front Header Image
.frontHeaderImg {
	position: relative;
	width: 100%;
	height: auto;
}

// Jumbotron
.jumbotron {
		margin-bottom: 0px;
		padding: 68px 0;

	p {
		font-weight: 300;
		font-size: 18px;
	}

	p:last-child {
		margin-bottom: 0;
	}

}
// Smaller container for front page
div.container.front {
	max-width: 970px;
}

// First Block with About Section
.block-1 {
		background-color: $bluegrey;
		margin-bottom: 0px;

	p {
		color: $jumboColor;
		text-align: center;
	}

	h2 {
		color: $white !important;
		margin-bottom: 20px;
		text-transform: uppercase;
		letter-spacing: 3px;
		text-align: center !important;
		font-weight: bold;
	}
	h4 {
		@extend h2;
		color: $white !important;
		margin-top: 35px !important;
		font-size: 24px;
		font-weight: none;
	}
}

// Second Block with Announcements and New Blog Posts
.block-2 {
		background-color: $white;

	a {
		font-size: 14px;
	}

	h3 {
		padding: 0 0 5px 0;
		border-bottom: 2px solid #767676;
		margin-bottom: 0;
	}

	ul {
		padding-left: 0;
		list-style-type: none;
	}
	// li for announcements
	li  {
		border-bottom: 1px solid $light-grey;
		padding: 20px 0 20px 0;
	}


}

li .post-date {
		display: block;
}

// Recent Posts Widget with Thumbnails
.new-posts .rpwwt-widget {

	li{
		margin: 0 !important;

	}

	img {
		margin: .35em .75em 0 0 !important;
	}
}
// .new-posts .rpwwt-post-date {
// 	margin-left: 3.7em;
// }
// Margin top for Announcements and Blog Posts on Mobile
@media (max-width: 992px) {
	div.col-md-5.new-posts {
		margin-top: 4em;
	}
}

// Third Block with Research Text
.block-3 {
	background-color: $light-grey;
}

// Fourth Block with Visit Text
.block-4{
	background-color: #FFF;
}

// Fifth Block with Exhibits Text
.block-5 {
	background-color: $light-grey;
}




@media (min-width: 768px) {
/// Vertical center the images and text in blocks 3-5
	.vertical-center {
		@include vertical-flex;
	}

	.frontImage img {
		width: 82%;
		padding: 0;
	}

	.frontText-rt {
		padding-top: 0;
		padding-right: 6em;
	}

	.frontText-lft {
		padding-top: 0;
		padding-right: 6.2em;
	}

}
// Bottom padding for images on mobile
@media (max-width: 768px) {
	.frontImage img {
		padding-bottom: 1.5em;
	}

}
