
body {
	overflow-x: hidden;
	margin: 0;
}


.front-capt {
	float: right;
	.front-caption-text {
		color: white;
		position: absolute;
		z-index: 100;
		right: 4rem;
		font-size: 1rem;
		padding: 5px 10px 5px;
	}
}



