/***************************
****************************
PAGE STYLING
****************************
***************************/

//page banner needs extra space on small screens to accomodate toggle moving down below 480px
@media (max-width: 480px) {
	.page-banner {
		margin-top: 25px;
	}
}
.page-banner img{
	max-height: 400px;
	width: 100%;
}
.aligncenter {
	margin: 0 auto;
	display: block;
}



/*---------------*/

div.col-md-3.capt {
	padding-left: 0;
}
p.caption{

	color: white;
	z-index: 100;
	margin-top: -150px;
	position: absolute;
	background-color:rgba(24, 68, 123, 0.8);
	padding: 10px;
	@media (max-width: 768px) {
		display: none;
	}
}


.page-header {
	margin-top: 0;
	margin-bottom: 2.5em;
	border-bottom: 1px solid $lines-primary;
}


div.col-lg-9.page {
	margin-top: 4em;
	padding-left: 1.5em;
	padding-right: 8em;
	padding-bottom: 4em;
	overflow-x: hidden;

}


@media (max-width: 992px) {
	div.col-lg-9.page {
		margin-top: 2em;
		padding-left: 1.5em;
		padding-right: 1.5em;
		padding-bottom: 4em;
	}
}
/*---------------------*/

div.col-md-12.page {
	margin-top: 4em;
	padding-bottom: 4em;
}

// Genealogy Page
p.genealogy {
	padding-bottom: 2rem;
}
/***************************
****************************
SIDEBAR COLOR AND STYLES
****************************
***************************/

div.col-lg-3.sidebar {
	margin-top: 4em;
	height: 100%;
	padding: 0;

}

/* Larger Margins on Mobile */

@media (max-width: 992px) {
	div.col-lg-3.sidebar {
		padding-top: 2em;
		padding-left: 2em;
		padding-right: 2em;
		margin-top: 0;
	}
}
////// SIDEBAR ///////

div.col-lg-3.sidebar h3 {
	font-size: 24px;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0px;
	padding-bottom: 22px;
	text-transform: none;
}

div.col-lg-3.sidebar h3:last-child {
	border-top: none;

}
div.col-lg-3.sidebar ul {

	padding-left: 0px;
	list-style-type: none;
	margin-bottom: 0px;

}
div.col-lg-3.sidebar li {

	padding: 10px 20px 10px 0px;
	border-top: 1px solid $light-grey;
	a {
		display: block;
		padding-left: 1em;
	}

}
.sidebar .rpwwt-widget ul li {
	margin: 0;
	a {
		display: flex;
  		align-items: center;
  		padding-left: 1em;

	}
}
.sidebar .rpwwt-widget img {
	margin-bottom: 0 !important;
}
.sidebar .rpwwt-post-date  {
	padding-left: 4.3em;
}
.sidebar .post-date {
	margin-left: 1.5em;
}
.sidebar .post-date::before {
	content: "- ";
}

div.col-lg-3.sidebar li:last-child{

	border-bottom: none;
	margin-bottom: 4em !important;

}
div.col-lg-3.sidebar li:hover {
	background-color: $light-grey;
}
div.col-lg-3.sidebar a:hover {
	text-decoration: none;
}
/***************************
****************************
COUNTY CLERK PAGE
****************************
***************************/
.panel-group {
	.panel {
		box-shadow: none;
		border-radius: 0px;
	}
	.panel-heading {
		background-color: $light-grey;
		border: none;
		border-radius: 0px;
	}
	.panel-body {
		border: 1px solid $light-grey;
		ul {
			padding: 0 1rem;
			li {
				list-style-type: none;
				padding: 1rem 0;
				border-bottom: 1px solid $light-grey;
				&:last-child {
					border-bottom: none;
				}
			}
		}

	}
}
.panel-title {
	@media (max-width: 768px) {
		text-align: center;
	}
	a:after {
		content: "";
	    display: inline-block;
	    background: url("./css/down1.png") no-repeat top right;
	    width: 20px;
	    height: 20px;
	    float: right;
	    @media (max-width: 768px) {
			float: none;
			display: block;
			margin: 10px auto 0 auto;
	    }
	}
}

/***************************
****************************
TRAVIS COUNTY HISTORY DAY PAGE
****************************
***************************/

.hday {
	padding-left: 0;
}
.hdayNav {
	ul {
		border-right: 2px solid $light-grey;
		border-left: 2px solid $light-grey;
		border-top: 2px solid $light-grey;
	}
	li {
		border-bottom: 2px solid $light-grey;
	}
	.nav-stacked li a{
		@include button-vertical;
	}
	.titleNav {
		@include button-vertical;
	}
	.nav-stacked > li + li {
		margin-top: 0;
	}
	li.hover > a {
		background-color: $light-grey;
		border-bottom: none;
	}
	li.active > a,
	li.active > a:focus,
	li.active > a:hover {
		background-color: $darkblue;
		color: $white;
	}

}



/***************************
****************************
BLOG POSTS AND PAGES
****************************
***************************/

textarea {
	width: 100%;
}
article h3 a{
	color: $almostblack;
}

//Pagination
.pagination {
	font-family: $pathway;
	font-size: 20px;
	width: 100%;

}
.page-numbers {
	border: 1px solid $darkgrey;
	padding: 10px;
	color: $darkgrey;
	margin-right: .5em;
}
.page-numbers.current {
	background-color: $darkgrey;
	color: $white;
}



/***************************
****************************
GOOGLE MAPS
****************************
***************************/

.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    iframe{
	    left:0;
	    top:0;
	    height:100%;
	    width:100%;
	    position:absolute;
	}
}
