
.search-form {
  margin-bottom: 20px;
}

.search-submit { 
  background-color: #828282;
  color: white;
  border-radius: 0;
  box-shadow: none;
  border: none;
  border-radius: 0px;
  padding: 0.5em 1.1em 0.5em 1.1em;
  line-height: normal;
  font-size: 14px;
  font-family: sans-serif;
  margin-left: -4px;
}

span.screen-reader-text {
  position: absolute;
  left: -9999px;
}

.search-field {
  width: 173px;
  border: none;
  border-radius: 0px;
  padding: 0.5em;
  box-shadow: none;
  line-height: normal;
  font-size: 14px;
  font-family: sans-serif;
}

