
/***************************
****************************
JUMBOTRON
****************************
***************************/

.jumbotron {
	margin-bottom: 0px;
	padding: 68px 0;
	
}
.jumbotron p{
	font-weight: 300;
	font-size: 18px; 
	
}

.jumbotron p:last-child {
	margin-bottom: 0;
}

/* Jumbotron Colors */

.jumbotron h2 {
	color: #FFF;
	margin-bottom: 20px;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-family: 'Pathway Gothic One', sans-serif;
}

div.col-sm-12.title {
	padding-left: 0;
}
div.container.front {
	max-width: 970px;
}
.list h3 {
	padding: 0 0 5px 0;
	border-bottom: 2px solid #767676;
}

.top1 a {
	font-size: 16px;
}

.list ul {
	padding-left: 0;
	list-style-type: none;
}

.list li {
	border-bottom: 1px solid #EEE;
	padding: .50em 0;
}

 li .post-date{
	display: block;
}

 .rpwwt-widget li{
	margin: 0 !important;
}

.front .rpwwt-widget img {
	margin: 0 .75em 0 0 !important;
}



.top p {
	color: #FFF;
	font-size: 18px;
	text-align: center;
}

.top {
	background-color: #6C7A89;
	margin-bottom: 0px;
}
.top h2 {
	text-align: center !important;
	font-weight: bold;
}
.top h4 {
	text-align: center !important;
	color: #FFF;
	margin-top: 35px;
	margin-bottom: 20px;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-family: 'Pathway Gothic One', sans-serif;
	font-size: 24px;
}
.top1 {
	background-color: #FFF;
	margin-bottom: 0px;
}

.top2 {
	background-color: #ececec;
	margin-bottom: 0px;
}

.top3 {
	background-color: #FFF;
	margin-bottom: 0px;
}

.top4 {
	background-color: #ececec;
	margin-bottom: 0px;
}
/**********End Jumbotron Colors***********/

div.jumbotron.top p {
	color: #FFF;
}
div.jumbotron.top h3 {
	color: #FFF;
}

@media (max-width: 992px) {
	div.col-md-5.front {
	margin-top: 4em;
	}
}

div.col-md-5.front1 ul{
	border-right: 2px solid #767676;
}
.front1 ul {
	padding-left: 0;
	list-style-type: none;
}

.front1 li {
	border-bottom: 1px solid #EEE;
	padding: .75em 0;
}




@media (min-width: 768px) {
	.vertical-center {
		  display: -webkit-box;
	  display: -webkit-flex;
	  display: -ms-flexbox;
	  display: flex;
	  -webkit-box-align: center;
	  -webkit-align-items: center;
	      -ms-flex-align: center;
	          align-items: center;
	  -webkit-box-pack: center;
	  -webkit-justify-content: center;
	      -ms-flex-pack: center;
	          justify-content: center;
	  -webkit-box-orient: horizontal;
	  -webkit-box-direction: normal;
	  -webkit-flex-direction: row;
	      -ms-flex-direction: row;
	          flex-direction: row;
	}
	.frontText3 {
		padding-top: 0;
		padding-right: 6em;
	}
	div.col-sm-6.frntLeft h3 {
		border-bottom: none;
	}
	.frontText3 h3 {
		border-bottom: none;
	}
	div.col-sm-6.frntLeft {
		padding-top: 0;
		padding-right: 6.2em;
	}
	div.col-sm-6.frnt img {
		width: 82%;
		padding: 0;
	}
}

@media (max-width: 768px) {
	div.col-sm-6.frnt {
		padding-bottom: 1.5em;
	}

}



div.col-sm-3.front {
	padding-left: 0;
	padding-top: 2em;
}
div.col-sm-9.front {
	padding-top: 2em;
	padding-left: 4em;
}
@media (max-width: 768px) {
	div.col-sm-9.front {
	padding-left: 0;
	}
}
