
.bc-container {
    margin-top: -2px;
	padding: 0;
	border-top: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
}
.breadcrumbs {
	padding: 1.5em 0 1.5em 30px;
	span a {
		color: lighten($text-primary, 20%);
	}
	svg {
		margin: 0 10px;
		path {
			fill: $text-primary;
		}
	}
}