.hd-page-bg {
  background-color: $heading-primary;

  //height: 100vh;
}
.hd-page-container {
  background-color: white;
  h2 {
    letter-spacing: 6px;
    margin-bottom: 0;
  }
  h4 {
    text-align: center;
    padding: 0 0 2rem 0;
    margin-bottom: 0;
  }
  p {
    padding: 0 0 2rem 0;
    margin: 0;
  }
  .wp-block-image {
    margin: 0;
    padding-bottom: 2rem;
    figcaption {
      margin-bottom: 0;
    }
  }
  .wp-block-gallery {
    padding-bottom: 2rem;
  }
  hr {
    margin-top: 0;
    margin-bottom: 2rem;
  }
  // .blocks-gallery-item figure {
  //   display: block;
  // }
  // .blocks-gallery-item figcaption {
  //   position: relative;
  //   background: none;
  //   color: $heading-primary;
  //   padding: 1rem 0;
  // }
}
p.hd-timeline-2008 {
  margin: 0;
  padding: 0;
}
.hd-subtitle {
  color: white;
  background-color: $heading-primary;
  padding: 1rem;
}
.hd-paragraph {
  padding: 1rem 0;
}
.hd-header {
  margin: 0 auto 4rem auto;
  text-align: center;
  padding: 2rem 0;
  border-bottom: 2px solid $lines-primary;
  border-top: 2px solid $lines-primary;
  max-width: 300px;
  @media (min-width: $medium) {
    max-width: 400px;
  }
}
.hd-content {
  h4 {
    margin-bottom: 2rem;
  }
}
.hd-video {
  display: flex;
  justify-content: center;
}
