$white_border: 2px solid #FFF;

#map {
	width:100%;
	height:400px;
	margin-bottom: 2em;
}

// Sidebar area
#mapsidebar {
	border: 2px solid $background-primary;
}

#mapsidebar1 {
	@extend #mapsidebar;
	margin-top:10px;

}

#mapsidebar ul, #mapsidebar1 ul {
	  text-align: left;
	  cursor:pointer;
	  background-color: $background-secondary;
	  font-size: 12px/18px;
	  font-weight: 500;
}

#mapsidebar ul:focus, #mapsidebar1 ul:focus {
	background-color: $background-primary;
}

#mapsidebar ul:hover, #mapsidebar1 ul:hover {
	background-color: #FFF;
}

.mapsidebar_item, .mapsidebar_item1 {
	padding: 5px 10px;
	margin: 0;
	border-bottom: $white_border;
	border-left: $white_border;
	border-right: $white_border;
	color: $background-primary;
}

.mapsidebar_item, .mapsidebar_item1 {
	&:hover {
		text-decoration: underline;
		color: lighten($background-primary, 40%);
	}
}

.mapsidebarheader{
	background-color: $background-primary;
	color: #FFF;
	margin: 0;
	border-bottom: $white_border;
	padding: 15px 10px;

}

// Pop up boxes on Google Map
.window {
	padding-right: 5px;
}

.mapcaption {
	font-size: 10px;
}