#mainNav {
  .navbar-expand-xl {
    @media (max-width: 480px) {
      justify-content: flex-end;
    }
    justify-content: space-between;
    @media (min-width: 1200px) {
      flex-flow: row nowrap !important;
      //justify-content: flex-start !important;
    }
  }
  .navbar-nav {
    list-style-type: none;
  }
  .navbar {
    // TC logo and Travis County Archives, Austin, TX text
    padding: 0.5rem 0.25rem;
    @media (min-width: 1200px) {
      padding: 0.5rem 1rem;
    }
    a.navbar-brand {
      padding: 0 0.25rem;
      margin: 0;
      display: flex;
      > * {
        line-height: 1;
        letter-spacing: 1.5px;
        font-family: $font-heading;
      }
      img {
        height: 52px;
        width: 52px;
      }
      .site-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 0.75rem;
        h4 {
          color: darken($text-primary, 10%);
          margin: 0 0 4px 4px;
          padding: 0;
        }
        h5 {
          color: darken($text-primary, 10%);
          margin: 0 0 0 4px;
          padding: 0;
          font-size: 14px;
        }
      }
    }
    .navbar-collapse {
      align-items: center;
      justify-content: flex-end;
      flex-wrap: wrap;
      @media (min-width: 1200px) {
        margin-right: 4rem;
      }
      @media (min-width: 1400px) {
        margin-right: 6rem;
      }
    }
    .collapse.show {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      @media (min-width: 1200px) {
        flex-direction: row;
      }
    }
    .navbar-nav {
      li {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        @media (min-width: 1200px) {
          display: block;
          // flex-direction: row;
          // justify-content: flex-end;
        }
        a {
          font-family: $font-heading;
          color: darken($text-primary, 10%);
          font-size: 0.8rem;
          transition: transform 1s ease-in-out;
          @media (min-width: 1200px) {
            margin-right: 1.5rem;
          }
          @media (min-width: 1400px) {
            margin-right: 2rem;
            font-size: 1rem;
          }
        }
      }
    }
    .sub-menu {
      margin-bottom: 1rem;
      a {
        font-size: 0.8rem;
        @media (min-width: 1400px) {
          font-size: 1rem;
        }
      }
      .dropdown-item {
        padding: 0.5rem 1.5rem;
      }
      .dropdown-item.active,
      .dropdown-item:active {
        background-color: $background-secondary;
        color: $paragraph;
      }
    }
  }
}

#searchtoggle {
  svg path {
    fill: darken($text-primary, 10%);
  }
  .svg-inline--fa {
    height: 0.8rem !important;
    vertical-align: 0em !important;
    @media (min-width: 1400px) {
      height: 1rem !important;
      vertical-align: -0.125em !important;
    }
  }
}
#searchbar {
  display: none;
  border-top: 1px solid #d8d8d8;
  padding-left: 25px;
  padding-right: 10px;
  z-index: 9999;
  background: #fff;
  //this hides the screen reader text off screen, but is still usable by screen readers
  .screen-reader-text {
    position: absolute !important;
    left: -999em;
  }
  .search-form {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
    width: 100%;
    label {
      margin-bottom: 0;
    }
    .search-field {
      background: white;
      border: 1px solid darken($text-primary, 10%);
      box-sizing: border-box;
      color: darken($text-primary, 10%);
      font-size: 0.9em;
      font-style: italic;
      margin: 0 1rem 0 0;
      padding: 0.5em 1rem;
      border-radius: 8px;
      height: 2rem;
      width: 200px;
      @media (min-width: $medium) {
        width: 400px;
      }
    }
    .search-submit {
      height: 2rem;
      border: 1px solid darken($text-primary, 10%);
      border-radius: 8px;
      cursor: pointer;
      &:hover {
        color: white;
        background-color: darken($text-primary, 10%);
      }
    }
  }
}
