$darkblue: #000040;
$darkgreen: #004000;
// html {
//   scroll-behavior: smooth;
// }
nav.verticalnav {
  display: none;
  @media (min-width: 768px) {
    display: block;
    white-space: nowrap;
    background: $darkblue;
    // width: 300px;
    ul {
      list-style: none;
      margin: 0;
      padding: 2rem;
    }
  }
}

/* Only stick if you can fit */
@media (min-height: 300px) {
  nav.verticalnav ul {
    position: sticky;
    top: 0;
  }
}
nav.verticalnav ul li a {
  display: block;
  padding: 0.5rem 1rem;
  color: white;
  text-decoration: none;
}
nav.verticalnav ul li a.is-selected {
  background-color: $darkgreen;
}
// MOBILE NAVIGATION STICKY BAR

.mobileNav {
  justify-content: space-between;
  display: flex;
  position: sticky;
  top: 0;
  width: 100%;
  background: #fff;
  li {
    display: inline-block;
    padding: 24px 10px;
  }
  @media (min-width: 768px) {
    display: none;
  }
}
.fixed {
  position: fixed;
  top: 0;
  height: 70px;
  z-index: 1;
}
