

//palette
$palette-primary:#252839;
$palette-secondary: #CC3363 ;
$palette-tertiary: #F2B632 ;
$palette-quaternary: #F2F2F2;

//Text
$text-primary:#676667;
$paragraph: $text-primary;
$paragraph-secondary: white;
$heading-primary: $text-primary;
$heading-secondary: white;

//lines
$lines-primary: #ececec;
$lines-secondary: darken($lines-primary, 20%);

//links
$links-primary: $palette-secondary;
$links-secondary: $palette-tertiary;
$links-hover: darken($links-primary, 20%);
$links-secondary-hover: darken($links-secondary, 20%);

//backgrounds
$background-primary: $palette-primary;
$background-secondary: $palette-quaternary;
$background-tertiary: darken($palette-primary, 30%) ; //212433