$darkgreen: #004000;
$gold: #ffc200;

#historyday2021 {
  h1,
  h2,
  h3,
  h4 {
    font-family: "Noto Serif JP", serif;
  }
}
.hd2021header {
  // height: 600px;
  // width: 100vw;
  display: block;
  @media (min-width: $xl) {
    display: flex;
  }
  margin: 0;
}
.hd2021title {
  flex: 0 0 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-color: #004000;
  border-width: 5px;
  background-color: $darkgreen;
  height: 300px;
  margin: 0;
  @media (min-width: $xl) {
    flex: 0 0 50%;
    height: 600px;
  }

  > div {
    background-color: white;
    padding: 2rem;
    border-style: solid;
    border-color: $gold;
    border-width: 5px;
    @media (min-width: $xl) {
      padding: 4rem;
    }
    h2 {
      padding-bottom: 1rem;
      text-align: center;
      font-weight: bold;
    }
    h4 {
      text-align: center;
      font-style: italic;
    }
  }
}

.navigation-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  h4.navigation-title {
    color: white;
    text-align: center;
    margin: 4rem 0 2rem 0;
    padding: 1rem;
  }
}
.navigation-flex {
  display: flex;
  justify-content: center;
  max-width: $xl;
}
.navigation {
  padding: 2rem 4rem 4rem 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: auto;
  grid-gap: 30px;

  .nav-box {
    // border-style: solid;
    // border-color: #ffc200;
    // border-width: 0;
    background-color: white;
    text-decoration: none;
    position: relative; /* For positioning the pseudo-element */
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12), 0.3s;
    &::before {
      /* Position the pseudo-element. */
      content: " ";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      /* Create the box shadow at expanded size. */
      box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.5);

      /* Hidden by default. */
      opacity: 0;
      transition: opacity 500ms;
    }
    &:hover {
      transform: scale(1.05);
    }
    &:hover::before {
      /* Show the pseudo-element on hover. */
      opacity: 1;
    }
    img {
      width: 100%;
    }
    h4 {
      padding: 2rem 2rem 1rem 2rem;
    }
    p {
      font-size: 12px;
      padding: 0 2rem 2rem 2rem;
    }
  }
}
.hd-2021-container {
  padding: 6rem 0;
  h4 {
    padding: 2rem 0;
    text-align: center;
  }
}
.interstitial-video {
  position: relative;
  video {
    //height: auto;
    //vertical-align: middle;
    width: 100%;
    height: 300px;
    object-fit: cover;
    filter: brightness(50%);
  }
}
.viewport-header {
  background: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    font-size: 6vw;
    color: white;
  }
}
.parkrangers-container {
  background-color: $background-secondary;
}
// Parks Department History

// Timeline
.timeline-container {
  background-color: $darkgreen;
  h4 {
    color: white;
  }
}
.timeline-flex {
  display: block;
}
.timeline-item {
  padding: 3em 2em 2em;
  position: relative;
  color: white;
  border-left: 2px solid white;

  p {
    font-size: 1rem;
    color: white;
  }

  &::before {
    content: attr(date-is);
    position: absolute;
    left: 2em;
    font-weight: bold;
    top: 1em;
    display: block;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 0.785rem;
  }

  &::after {
    width: 10px;
    height: 10px;
    display: block;
    top: 1em;
    position: absolute;
    left: -6px;
    border-radius: 10px;
    content: "";
    border: 2px solid white;
    background: white;
  }

  &:last-child {
    border-image: linear-gradient(to bottom, white 60%, rgba(white, 0)) 1 100%;
  }
}
.parks-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: auto;
  grid-gap: 30px;

  li {
    list-style-type: none;
    border: 1px solid $darkgreen;
    background-color: $darkgreen;
    border-radius: 5px;
    text-align: center;
    a {
      display: block;
      padding: 0.5rem;
      color: white;
      text-decoration: none;
    }
  }
}
.storymap-container {
  background-color: $background-secondary;
}
