

article.post {
    padding-bottom: 1.5rem;
    h3 a{
	    color: $text-primary;
    }
    p:nth-child(3) {
        padding-bottom: 1.5rem;
        margin-bottom: 0;
    }
}

//Pagination
.pagination {
    font-family: $font-heading;
	font-size: 20px;
	width: 100%;

}
.page-numbers {
	border: 1px solid $text-primary;
	padding: 10px;
	color: $text-primary;
	margin-right: .5em;
}
.page-numbers.current {
	background-color: $text-primary;
	color: white;
}