.cards {
    padding: 8rem 0;
}
.cards__single {
    padding: 0 4rem 4rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
        transform: scale(0.75);
    }
    h4 {
        padding: 1rem 0;
    }
    @media (min-width: $medium) {
        padding: 0 6rem 0 6rem;
    }
}